body {
    background-color: bisque;
    text-align: center;
}

h1 {
    font-size: 80px;
}

p {
    font-size: 30px;
}

div.options {
    border: solid black 1px;
    display: inline-flex;
}

div.sort {
    margin: auto;
    border: solid black 1px;
    width: 300px;
}

div.add {
    margin: auto;
    border: solid black 1px;
    width: 200px;
}

div.search {
    margin: auto;
    border: solid black 1px;
    width: 200px;
}
/*
div.table {
    margin: 0 auto;
    width: auto;
    
    border: solid black 1px;
    width: 1000px;
    
}
*/


nav {
    margin: 0 auto;
    width: 1200px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}

li {
    padding: 10px 20px;
}

li a {
    color: brown;
    text-decoration: none;
}

li:hover a {
    color: red;
}

div.text {
    border: 1px solid black;
    margin: auto;
    width: 900px;
    
}

table {
    margin: auto;
    border-style: inset;
}

td, th {
    width: 300px;
    padding: 20px;
}

th {
    border: none;
}

.alt1 {
    background-color: ffbb99;
}

input.pole {
    background-color: bisque;
    border: none;
    font-size: 20px;
    text-emphasis-color: #ff9999;
}

